:root {
    --background: #1e1530;
    --font-color: #d6dce0;
}

body {
    padding: 10px;
    background-color: var(--background);
    color: var(--font-color);
}

#commentbox
{
    width:600px;
    font-size:12pt;
}

ul {
    list-style-type: none;
}

img {
    max-width: 250px;
}